<!-- banner part start-->
    <section class="banner_part">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <div class="banner_slider carousel slide" id="carouselExampleIndicators" data-ride="carousel" data-interval="5000">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                          </ol>

                    <div class="carousel-inner">

                        <div class="single_banner_slider carousel-item active">
                            <div class="row">
                                <div class="col-lg-5 col-md-8">
                                    <div class="banner_text">
                                        <div class="banner_text_iner">
                                            <h1>Decouvrez une plateforme
                                                Inédite</h1>
                                            <p> 
                                             Designée et repensée par
                                             nous pour vous   
                                            </p>

                                        </div>
                                    </div>
                                </div>
                                <div class="banner_img d-none d-lg-block">
                                    <img src="assets/img/caroTwo.jpg" alt="">
                                </div>
                            </div>
                        </div>

                        <div class="single_banner_slider carousel-item">
                            <div class="row">
                                <div class="col-lg-5 col-md-8">
                                    <div class="banner_text">
                                        <div class="banner_text_iner">
                                            <h1>Où l'offre satisfait
                                                la demande</h1>
                                            <p>Entrez en contact avec 
                                               de nombreux promoteurs et découvrez
                                               une multitudes d'offres
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="banner_img d-none d-lg-block">
                                    <img src="assets/img/caroOne.png" alt="">
                                </div>
                            </div>
                        </div>

                        <div class="single_banner_slider carousel-item">
                            <div class="row">
                                <div class="col-lg-5 col-md-8">
                                    <div class="banner_text">
                                        <div class="banner_text_iner">
                                            <h1>Alors ne perdez plus
                                                une seconde !</h1>
                                            <p> </p>
                                            <p> </p>
                                            <a routerLink="/auth/signupSinglePage" class="btn_2">Je m'inscris</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="banner_img d-none d-lg-block">
                                    <img src="assets/img/bannerImg.png" alt="">
                                </div>
                            </div>
                        </div>

                    </div>

                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                      </a>
                      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                      </a>

                    </div>
                </div>
            </div>
        </div>
    </section>
<!-- banner part start-->



