
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.7s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  .example-fill-remaining-space {
    flex: 1 1 auto;
  }




  .flip-card {
    background-color: transparent;
    width: 350px;
    height: 300px;
    perspective: 1000px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-card-back {
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
  }



/*
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.content{
    margin-left: 18%;
    margin-right: 18%;
    padding: 2%;
    background-color: rgba(230, 230, 230,0.9);
}

#sidebar{
    position: fixed;
    width: 200px;
    height: 200%;
    background: #151719;
    left: -200px;
    transition: all 500ms;
}

#sidebar.active{
    left: 0px;
}

.content.active{
    margin-right: 30px;
}

#sidebar ul li{
    color: rgba(230, 230, 230,0.9);
    list-style: none;
    padding: 15px 10px;
    border-bottom: 1px solid rgba(100,100,100,0.3);
}

#sidebar ul li p{
    color: rgba(230, 230, 230,0.9);
    list-style: none;
    margin-left: 20px;
}

#sidebar .toggle-btn{
    position: absolute;
    left: 230px;
    top: 20px;
}

#sidebar .toggle-btn span{
    display: block;
    width: 30px;
    height: 5px;
    background: #151719;
    margin: 3px 0px;
}

#sidebar > ul > li:hover{
    background-color: rgb(255, 255, 255);
    color: orange;
    text-emphasis-color: red;
    font-size: 1.2em;
    border-bottom : 2px solid orange;

  }

*/



